accelerate>=1.0.1
amqp>=5.2.0
async-timeout>=5.0.1
backports.zoneinfo>=0.2.1
billiard>=4.2.1
bitsandbytes>=0.42.0
blinker>=1.8.2
celery>=5.4.0
certifi>=2024.8.30
charset-normalizer>=3.4.0
click>=8.1.7
click-didyoumean>=0.3.1
click-plugins>=1.1.1
click-repl>=0.3.0
contourpy>=1.1.1
cycler>=0.12.1
filelock>=3.16.1
flask>=3.0.3
fonttools>=4.54.1
fsspec>=2024.10.0
gunicorn>=22.0.0
huggingface-hub>=0.26.2
idna>=3.10
importlib-metadata>=8.5.0
importlib-resources>=6.4.5
itsdangerous>=2.2.0
jinja2>=3.1.4
joblib>=1.4.2
kiwisolver>=1.4.7
kombu>=5.4.2
MarkupSafe>=2.1.5
matplotlib>=3.7.5
nltk>=3.9.1
numpy>=1.24.4
nvidia-cublas-cu11>=11.10.3.66
nvidia-cuda-nvrtc-cu11>=11.7.99
nvidia-cuda-runtime-cu11>=11.7.99
nvidia-cudnn-cu11>=8.5.0.96
packaging>=24.2
pandas>=2.0.3
pillow>=10.4.0
prompt-toolkit>=3.0.48
psutil>=6.1.0
pyparsing>=3.1.4
python-dateutil>=2.9.0.post0
pytz>=2024.2
PyYAML>=6.0.2
redis>=5.2.0
regex>=2024.11.6
requests>=2.32.3
safetensors>=0.4.5
schedule>=1.2.2
scipy>=1.10.1
six>=1.16.0
tokenizers>=0.20.3
torch>=1.13.1
tqdm>=4.67.0
transformers>=4.46.2
typing-extensions>=4.12.2
tzdata>=2024.2
urllib3>=2.2.3
vine>=5.1.0
wcwidth>=0.2.13
werkzeug>=3.0.6
xgboost>=2.1.2
zipp>=3.20.2
